[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "osint-search"
version = "0.1.0"

[tool.setuptools]
package-dir = {"" = "src"}

[tool.setuptools.packages.find]
where = ["src"]

[project.scripts]
osintsearch = "osint_tool.main:main"